<h1>Welcome to the homepage</h1>
 <% for(var i = 0; i < books.length; i++ ) { %>
  <div>
    <h3><a href="/books/<%= books[i].id %>"><%= books[i].title %></a></h3>
    <p><%= books[i].body %></p>
  </div>
 <% } %>
