<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/basic.css">
</head>
<body>

<div class="content">
	<% include partials/navigation.ejs %>
	<%- body %>
</div>
</body>
</html>
