<h1> New Game </h1>
<form action="/games/" method="POST">
  <input type="text" name="title" placeholder="Game Title">
  <br>
  <textarea name="body" placeholder="Game Description"></textarea>
  <br>
  <input type="submit" name="save game" value="Save Game">
</form>
