<h1><%= game.title %></h1>

<p><%= game.body %></p>

<a class= "editbutton" href="/games/<%= game.id %>/edit">edit</a>

<form action="/games/<%= game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
